.imagebg{
    background-color: #000;
    opacity: 0.3 !important;
}
.header-s3.has-fixed .modal-sticky-header{
background-color: #4a7dbc;
}
.product-enquiry .form-quote .form-control.txtarea{
    height: 100px;
}
